<div class="jumbotron">
  <h1 class="display-4">Bem Vindo ao meu blog em Node</h1>
  <p class="lead">Blog codado por Andrey Arthur usando. Express e MongoDB</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes:</h2>
{{#each postagem}}
<div class="card mt-3">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
    <hr>
    <small>Categoria: <strong>{{categoria.nome}}</strong></small><br>
    <small>Data: {{data}}</small>
  </div>
</div>
{{else}}
  <h4 class="text-black-50 mt-4">Nenhuma postagem aqui por enquanto :(</h4>
{{/each}}