<h1>{{postagem.titulo}}</h1>
<hr>
<small>Data de publicação: {{postagem.data}}</small><br>
<small>Categoria: {{postagem.categoria}}</small>
<hr>
<p>{{postagem.conteudo}}</p>
<p class="text-black-50 mt-2">{{postagem.descricao}}</p>